<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffbdbd">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"/>
    <script src="/js/myscript.js"></script>

    <title>Task Timer</title>
  </head>

  <body>

    <h1>Task Timer.</h1>
    <div id="container">
  
      <h2 id="plus">+</h2>
      <input type="text" id="taskname" placeholder="task name">
      <div id="tasklist"></div>

    </div>

  </body>
</html>
